.twinkle {
  animation: twinkle 1.5s ease-in-out infinite;
  position: fixed;
  pointer-events: none;
}

@keyframes twinkle {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
}
